table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    padding: 20px;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

div.form {
    margin: 20px 800px 20px 800px;
    padding: 30px 30px 30px 30px;
    border: 1px;
    border-style: dotted;
    border-color: blueviolet;
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

input {
    width: 100%;
}